/* line 1, ../compass/sass/style.scss */
#nav {
  height: 100px;
  background-color: black;
  color: white;
}

/* line 6, ../compass/sass/style.scss */
#home {
  float: left;
}
/* line 8, ../compass/sass/style.scss */
#home a {
  padding: 20px;
}

/* line 12, ../compass/sass/style.scss */
#login {
  float: right;
}
/* line 14, ../compass/sass/style.scss */
#login a {
  float: right;
  padding: 20px;
}

/* line 19, ../compass/sass/style.scss */
.container {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

/* line 24, ../compass/sass/style.scss */
#body {
  height: 200px;
  background-image: url("mantary.jpg");
}
