/* line 1, ../compass/sass/style.scss */
#nav {
  height: 100px;
  background-color: black;
  color: white;
}

/* line 6, ../compass/sass/style.scss */
.navbar-header {
  width: 70%;
}

/* line 9, ../compass/sass/style.scss */
.navbar-brand {
  height: 50px;
  font-size: 59px;
}

/* line 13, ../compass/sass/style.scss */
.welcome {
  margin-top: 14px;
}

/* line 18, ../compass/sass/style.scss */
#title #title-message ul {
  display: inline-block;
}

/* line 23, ../compass/sass/style.scss */
#home {
  float: left;
}
/* line 25, ../compass/sass/style.scss */
#home a {
  padding: 20px;
}

/* line 30, ../compass/sass/style.scss */
#init-post textarea {
  width: 75%;
}
/* line 33, ../compass/sass/style.scss */
#init-post button {
  margin-bottom: 30px;
}

/* line 37, ../compass/sass/style.scss */
.post-messages {
  background-color: gray;
}
/* line 39, ../compass/sass/style.scss */
.post-messages .user {
  font-size: 20px;
  margin-left: 20px;
}
/* line 43, ../compass/sass/style.scss */
.post-messages .text {
  margin-left: 20px;
  border: 1px solid black;
  background-color: white;
  font-size: 16px;
  width: 70%;
}
/* line 50, ../compass/sass/style.scss */
.post-messages .date {
  margin-left: 20px;
}

/* line 55, ../compass/sass/style.scss */
.reply-info {
  background-color: beige;
  padding-bottom: 20px;
}
/* line 62, ../compass/sass/style.scss */
.reply-info .reply-messages .text-reply {
  border: 1px solid black;
  background-color: white;
}

/* line 71, ../compass/sass/style.scss */
.reply-submit {
  background-color: beige;
}
/* line 73, ../compass/sass/style.scss */
.reply-submit .reply-text {
  background-color: white;
  border: 1px solid black;
  width: 62%;
  margin-left: 14px;
}
/* line 79, ../compass/sass/style.scss */
.reply-submit button {
  margin-left: 20px;
  margin-bottom: 34px;
}
